In [1]:
import pycountry
import pandas as pd
import numpy as np

In [2]:
np.random.seed(42)

In [3]:
countries = []
states = []

In [4]:
def add_states(country_code):
    country = pycountry.countries.get(alpha_2=country_code)
    if country:
        for subdivision in pycountry.subdivisions.get(country_code=country_code):
            countries.append(country.name)
            states.append(subdivision.name)

In [5]:
add_states('GB') # UK
add_states('US') # USA
add_states('IN') # India

In [6]:
df = pd.DataFrame({'Country': countries, 'State':states})

In [7]:
df['Country'].value_counts()

United Kingdom    221
United States      57
India              36
Name: Country, dtype: int64

In [8]:
products = [
    {'Tag_Name': 'Apple_airtags', 'Price': 29, 'Value_for_Money': 'High', 'Year_of_Launch': 2021, 'Best_in_Tech': 'Precision Finding with U1 Chip', 'Practical_Use_Case': 'Tracking keys, wallets, and small items'},
    {'Tag_Name': 'Jio_tags', 'Price': 19, 'Value_for_Money': 'Medium', 'Year_of_Launch': 2023, 'Best_in_Tech': 'Affordable Pricing with Decent Accuracy', 'Practical_Use_Case': 'Tracking bags, kids’ school bags, and pets'}
]

In [9]:
# Generate synthetic data for each product and each region
rows = []
for product in products:
    for _, row in df.iterrows():
        country = row['Country']
        state = row['State']
        sales = np.random.randint(500, 5000)  # Random sales number
        # Estimating Total_user could be to assume a percentage of the population buys the product
        # Here I assumbed a maximum of 50 to 75 per cent of the sales count to be our users
        user_conversion_rate = np.random.uniform(0.5, 0.75)
        total_users = int(sales * user_conversion_rate)

        # Calculate total revenue and profit
        total_revenue = sales * product['Price']
        profit_margin = np.random.uniform(0.10, 0.30) # Assuming a profit margin between 10 to 30 percent
        profit = total_revenue * profit_margin
        rows.append({
            'Tag_Name': product['Tag_Name'],
            'Price': product['Price'],
            'Value_for_Money': product['Value_for_Money'],
            'Year_of_Launch': product['Year_of_Launch'],
            'Country': country,
            'State': state,
            'Sales': sales,
            'Total_Users': total_users,
            'Total_Revenue' : total_revenue,
            'Profit' : profit,
            'Best_in_Tech': product['Best_in_Tech'],
            'Practical_Use_Case': product['Practical_Use_Case']
        })

In [10]:
df1 = pd.DataFrame(rows)

In [11]:
df1

,Tag_Name,Price,Value_for_Money,Year_of_Launch,Country,State,Sales,Total_Users,Total_Revenue,Profit,Best_in_Tech,Practical_Use_Case
0,Apple_airtags,29,High,2021,United Kingdom,Monmouthshire [Sir Fynwy GB-FYN],1360,742,39440,10094.202610,Precision Finding with U1 Chip,"Tracking keys, wallets, and small items"
1,Apple_airtags,29,High,2021,United Kingdom,Redcar and Cleveland,3592,1936,104168,13666.727439,Precision Finding with U1 Chip,"Tracking keys, wallets, and small items"
2,Apple_airtags,29,High,2021,United Kingdom,Staffordshire,4926,3028,142854,23819.721987,Precision Finding with U1 Chip,"Tracking keys, wallets, and small items"
3,Apple_airtags,29,High,2021,United Kingdom,Wrexham [Wrecsam GB-WRC],3419,2314,99151,10323.294639,Precision Finding with U1 Chip,"Tracking keys, wallets, and small items"
4,Apple_airtags,29,High,2021,United Kingdom,Bracknell Forest,1269,863,36801,10588.035649,Precision Finding with U1 Chip,"Tracking keys, wallets, and small items"
...,...,...,...,...,...,...,...,...,...,...,...,...
623,Jio_tags,19,Medium,2023,India,Delhi,865,646,16435,4834.355111,Affordable Pricing with Decent Accuracy,"Tracking bags, kids’ school bags, and pets"
624,Jio_tags,19,Medium,2023,India,Kerala,3046,1664,57874,7802.680735,Affordable Pricing with Decent Accuracy,"Tracking bags, kids’ school bags, and pets"
625,Jio_tags,19,Medium,2023,India,Nāgāland,1272,845,24168,6111.471700,Affordable Pricing with Decent Accuracy,"Tracking bags, kids’ school bags, and pets"
626,Jio_tags,19,Medium,2023,India,Telangāna,2073,1079,39387,7992.863672,Affordable Pricing with Decent Accuracy,"Tracking bags, kids’ school bags, and pets"
627,Jio_tags,19,Medium,2023,India,Ladākh,1746,1214,33174,4829.088872,Affordable Pricing with Decent Accuracy,"Tracking bags, kids’ school bags, and pets"

In [13]:
df1.to_csv('Air_tags_dataset.csv', index=False)